/* Este asterico abarca absolutamente todo ene sta pagina */

* {
  margin: 0;
  padding: 0;
}

/* Header */

img.nav-logo{
  width: 13vh;
  height: 6vh;
}

div.contenedorTitulos{
  background-color:rgba(133, 11, 11, 0.863);
  display: flex;
  width: 100%;
  text-align: center;
}

.li-line:hover{
  color: white;
  background-color:rgba(133, 11, 11, 0.6);
  text-decoration: none;
}
.li-a{
  font-family: sans-serif;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #333;
    border-bottom: 1px solid #bbb;
}

/* boton login */
.botonLogin{
  width: 100px;
  height: 25px;
  background-color: black;
  color: white;
  border-radius: 20px;
  position: absolute;
  top: 4vh;
  left: 75vh;
  cursor: pointer;
}
 /*buscador*/

.contenedorBuscador{
position: absolute;
right: 4vh;
top: 4vh;
}

.buscar{
  border-radius: 40px;
  height: 4vh;
  justify-content: center;
  display: flex;
}

body {
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  color: rgba(133, 11, 11, 0.863);
  line-height: 1.6;
     background-image:url("/images/colorFondo.png");
}



/* Uso VH UNIT para acomodar imagen */
#showcase {
  background-image: url(/images/fondo.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  line-height: 1.2;
}

#showcase h1 {
  font-size: 50px;
}

#showcase p{
  font-size: 20px;

}

#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: rgba(133, 11, 11, 0.863);
  border: rgba(133, 11, 11, 0.863) 3px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#showcase .button:hover {
  background-color: rgba(133, 11, 11, 0.863);
  color: #fff;
}

.bienvenidos {
   color: rgba(133, 11, 11, 0.863);
}



/* Planes */

#section-b {
  padding: 20px;
  background-color: #f4f4f4;

  text-align: center;

}

#section-c {
  display: flex;
  justify-content:  center;

}

#section-c div{
  padding: 20px;
  margin: 0 5px;
}

#section-c .box-1, #section-c .box-3 {
  background-color:rgba(133, 11, 11, 0.863);
  color: #fff;
  text-align: center;
  width: 33%;
}

#section-c .box-2 {
  background-color: #f9f9f9;
  width: 33%;
  text-align: center;
}

#section-c .box-1:hover {

  color: black;
  cursor: pointer;
}
#section-c .box-2:hover {

  color: black;
  cursor: pointer;
}
#section-c .box-3:hover {

  color: black;
  cursor: pointer;
}

/* Listados */

.sectionsdeseries {

}

.seriespopulares {
  text-align: center;
  padding: 25px;
margin: 10px 5px;
}

.seriesconmayorpuntaje {
  text-align: center;
  padding: 25px;
margin: 10px 5px;
}

.seriesalairehoy {
  text-align: center;

 padding: 25px;
margin: 10px 5px;
}


/* Footer */

#section-a {

  padding: 20px;
  background-color:rgba(133, 11, 11, 0.863);
  text-align: center;
}


ol.containerapellidos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
}

.apellidos {
  padding-left: 9px;
  padding-top: 4px;
  color: white;
  text-decoration: none;
}

.subfooter {
  padding: 10px;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loguito {
  margin-top: 10px;
}

a {
  color: white;
}

a:hover {
  color: black;
}


/* aca va a venir los tamaños para cada pagina segun computadora
 tablet o telefono */

@media (max-width: 850px) {
    .uk-navbar-container {
      display: flex;
      flex-wrap: wrap;
    }
    .uk-navbar-left{
      width: 100%;
    }

/* MEDIA QUERY PARA TABLET (Ancho máximo 750px) */
@media (min-width: 451px) and (max-width: 750px){
    .uk-navbar-container {
      display: flex;
      flex-wrap: wrap;
    }
    .uk-navbar-left{
      width: 100%;
    }
    .uk-navbar-center{
      width: 100%;
    }
}

/* MEDIA QUERY PARA SMARTPHONE (Ancho máximo 450px) */
@media (min-width: 0px) and (max-width: 450px){
    .uk-navbar-container {
      display: flex;
      flex-wrap: wrap;
    }
    .uk-navbar-left{
      width: 100%;
    }

}