<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/detalleSerie.css">
  <script src="/javascripts/detalleSerie.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
  <title>Volti
  </title>
</head>
<body>
  <nav class="uk-navbar-container" uk-navbar>
    <div class="contenedorTitulos">
      <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="home.html"><img class="nav-logo" src="/images/logoVolti.png"></a></li>
          </ul>
      </div>
      <div class="uk-navbar-center">
          <ul class="uk-navbar-nav">
            <li class="li-line">
              <a class="li-a" href="/">Home</a>
            </li>
              <li  class="li-line">
                  <a class="li-a" href="#">Generos</a>
                  <div class="uk-navbar-dropdown">
                      <ul class="uk-nav uk-navbar-dropdown-nav gen">
                      </ul>
                  </div>
              </li>
              <li class="li-line">
                <a class="li-a" href="/buscadorAvanzado">Buscador Avanzado</a>
              </li>


          <div id="modal-close-default" uk-modal>
            <div class="uk-modal-dialog uk-modal-body pop-log">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <h2 class="uk-modal-title">Login</h2>
              <form class="login" name="login" action="home.html" method="get">
                 <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                       <div class="uk-inline">
                          <span class="uk-form-icon" uk-icon="icon: user"></span>
                              <input class="uk-input" type="text" name="user" id="user" placeholder="Nombre de usuario">
                      </div>
                   </div>
                   <div class="uk-margin">
                     <div class="uk-inline">
                         <span class="uk-form-icon" uk-icon="icon: mail"></span>
                              <input class="uk-input" type="email" id="mail" name="mail" placeholder="Email">
                     </div>
                  </div>
                  <button type="submit" href="home.html" class="uk-button uk-button-default">Login</button>
                </fieldset>
              </form>
           </div>
          </div>
          <button class="btn-log botonLogin" type="button" uk-toggle="target: #modal-close-default">LOGIN</button>
          <li class="li-line prefes" style="display: none;">
              <a class="li-a" href="/favs">FAVORITOS</a>
          </li>
          <li class="li-line lg" style="display: none;">
              <a class="li-a logout" href="home.html">LOG OUT</a>
          </li>
        </ul>
      </div>
      <div class="contenedorBuscador">
        <form method="get" name="buscar" action="/buscador" class="buscar">
              <input class="uk-search-input casillero" name="buscador" type="search" placeholder="Search...">
              <button><span class="iconoBuscador" uk-search-icon id="btn-buscar"></span></button>
          </form>
      </div>
      </div>
  </nav>

  <section class="movie">
       <div class="img-peli">
       </div>
       <div class="txt">
                <p ><span class="tit"></span></p>
                <p ><span class="genero"></span></p>
                <p ><span class="lng"></span></p>
                <p ><span class="fchestreno"></span></p>
                <p ><span class="sinopsis"></span></p>
       </div>
       <div class="addfav">
       </div>
  </section>

  <!-- This is a button toggling the modal -->
  <section class="contenedorBotonRecomendadas2">
  <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example"> VER TRAILER </button>

  <!-- This is the modal -->
  <div id="modal-example" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
          <div class="">
              <p class="prox"> Trailers </p>
              <div class="mov-vid">
              </div>
          </div>
          <p class="uk-text-right">
              <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          </p>
      </div>
  </div>
</section>

  <!-- This is a button toggling the modal -->
  <section class="contenedorBotonRecomendadas">
  <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example"> VER RECOMENDADAS </button>

  <!-- This is the modal -->
  <div id="modal-example" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
          <div class="">
            <div class="">
              <p class="prox">Relacionadas</p>
            </div>
            <div uk-slider>
              <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                  <ul class="uk-slider-items related uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                  </ul>
                  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
              </div>
              <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
          </div>
          <p class="uk-text-right">
              <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          </p>
      </div>
  </div>
</section>

      <section>
          <section id="section-a">
              <div class="footer">
                  <footer>
                    <div class="containerapellidos">
                      <p class="apellidos">Manuel Eduardo Firpo  &nbsp;|&nbsp; Tomas Lopez Saavedra  &nbsp;|&nbsp; Agustin Cutre</p>
                    </div>
                      <div class="subfooter">
                          <a href="mailto:info@volti.com">info@volti.com</a>
                       <div class="loguitos">
                      <img src="/images/logoVolti.png" alt="100" width="100">
                      &nbsp;&nbsp;
                      <img class="loguito" src="/images/logo tmbd.png" alt="50" width="50">

                    </div>
                    </div>
                  </footer>
            </section>
      </section>
</body>
</html>