<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../public/stylesheets/index.css">
  <title>Volti

  </title>
</head>
<body>
  <div class="header">

    <div>
      <p class="headervolti">Volti</p>
    </div>
    <div>
      <ul class="abarcosecciones" >
        <li class="secciones"><a href="home.html">Inicio</a></li>
        <li class="secciones"><a href="generos.html">Generos</a></li>
        <li class="secciones"><a href="buscador.html">Buscador</a></li>
      </ul>

    </div>
    <input type="text" placeholder="Search.." width="80px">
  </div>

  <header id="showcase">
    <h1 class="bienvenidos">Bienvenidos a  Volti </h1>
    <p>Peliculas y series</p>
    <a class="button" href="#">Mirar ahora gratis</a>
  </header>



  <section id="section-b">
      <p>Volti es absolutamente gratis</p>
    </section>

    <section id="section-c">
       <div class="box-1">
         <p>Contratar plan básico</p>
       </div>
       <div class="box-2">
          <p>Contratar plan estandar</p>
        </div>
        <div class="box-3">
            <p>Contratar plan premium</p>
          </div>


      </section>

      <div class="sectionsdeseries">
      <section class="seriespopulares">
        <h3>Series Populares</h3>
      </section>

      <section class="seriesconmayorpuntaje">
        <h3>Series Con Mayor Puntaje</h3>
      </section>

      <section class="seriesalairehoy">
      <h3>Series Al Aire Hoy</h3>
      </section>

    </div>


      <section>
          <section id="section-a">

              <div class="footer">
                  <footer>
                    <div class="containerapellidos">
                      <p class="apellidos">Manuel Eduardo Firpo</p>
                      <p class="apellidos">Tomas Lopez Saavedra</p>
                      <p class="apellidos">Agustin Cutre</p>


                    </div>
                      <div class="subfooter">
                          <a href="mailto:info@volti.com">info@volti.com</a>
                       <div class="loguitos">
                      <img class="loguito" src="/img/logo tmbd.png" alt="50" width="50">

                    </div>
                    </div>
                  </footer>
            </section>
      </section>

</body>
</html>
